.product{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #b8b6b6;

  .button-selected-tables{
    display: flex;
    flex-direction: column;
    margin-left: -17rem;

    .button-selected-tables-title{
      display: flex;
      margin: 2rem 0rem 1rem 0rem;
      font-size: 2rem;
    }
        
    .buttons{
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
    }
  }

  .input-data{
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem 1rem 0rem;
    gap: 0.3rem;
  }

  .text-for-table{
    display: flex;
    font-size: 1.5rem;
  }

  @import './product_list';
  @import './productDetails';
}